.pricing .pricing-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;
    margin-top: 50px;
}
.pricing .pricing-card-subheading{
    margin-bottom: 30px;

}
.pricing-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 50px;
}
.container-sm{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}
